body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(hospital-room-interior.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: #004080;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    height: 0px;
    margin-left: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.dataframe {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 45%;
}

.dataframe h2 {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form select, form input[type="text"], form input[type="date"] {
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    font-weight: 700;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.table-container {
    margin: 20px auto;
    width: 90%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#bed-occupancy {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.bed-status {
    width: 30%;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    text-align: center;
    color: white;
}

.bed-status.occupied {
    background-color: #e74c3c;
}

.bed-status.available {
    background-color: #2ecc71;
}
